.footer
    &#169
    = Time.now.year
    = link_to "The Only One Apparel.", "http://www.tooapparel.com"
    %br
    = link_to "Site Index", "dashboard/welcome" 
    &#149
    = mail_to "someemail@someemail.com", "Contact Us" 
    &#149
    = link_to "Report a Bug", "unknown"
    %br
    = "This page is maintained by "
    = link_to "unknown", "/unknown"
