= form_for @size do |f|
  - if @size.errors.any?
    #error_explanation
      %h2= "#{pluralize(@size.errors.count, "error")} prohibited this size from being saved:"
      %ul
        - @size.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
