= form_for @color do |f|
  - if @color.errors.any?
    #error_explanation
      %h2= "#{pluralize(@color.errors.count, "error")} prohibited this color from being saved:"
      %ul
        - @color.errors.full_messages.each do |msg|
          %li= msg

  .actions
    = f.submit 'Save'
